
.Rproj.user/BD30B2FC/console06/2B803A9A
.Rproj.user/BD30B2FC/console06/INDEX001
.Rproj.user/BD30B2FC/sources/prop/F3E2FCED
.Rproj.user/BD30B2FC/sources/prop/INDEX
.Rproj.user/BD30B2FC/sources/s-2EACA748/B79416CC
.Rproj.user/BD30B2FC/sources/s-2EACA748/B79416CC-contents
.Rproj.user/BD30B2FC/sources/s-2EACA748/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
AlgorithmPractise-R.Rproj
.RData
.Rhistory
.Rproj.user/BD30B2FC/pcs/files-pane.pper
.Rproj.user/BD30B2FC/pcs/source-pane.pper
.Rproj.user/BD30B2FC/sources/s-A7DF089B/lock_file
.Rproj.user/BD30B2FC/sources/s-A7DF089B/B79416CC-contents
.Rproj.user/BD30B2FC/sources/s-A7DF089B/B79416CC
.Rproj.user/BD30B2FC/sources/s-A7DF089B/308C7C41-contents
.Rproj.user/BD30B2FC/saved_source_markers
.Rproj.user/BD30B2FC/rmd-outputs
.Rproj.user/BD30B2FC/pcs/workbench-pane.pper
.Rproj.user/BD30B2FC/pcs/windowlayoutstate.pper
